{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "header",
    "jest-formatting",
    "mocha",
    "prettier",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mocha/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/strict-boolean-expressions": [
      2,
      {
        "allowNullableObject": true,
        "allowNullableBoolean": true,
        "allowAny": true
      }
    ],
    "eqeqeq": 2,
    "jest-formatting/padding-around-describe-blocks": 2,
    "jest-formatting/padding-around-test-blocks": 2,
    "header/header": [2, "./resources/license.header.js"],
    "mocha/max-top-level-suites": "off",
    "mocha/no-exports": "off",
    "mocha/no-mocha-arrows": "off",
    "no-console": 0,
    "no-return-await": 2,
    "no-unneeded-ternary": 2,
    "no-unused-vars": "off",
    "prettier/prettier": 2,
    "unicorn/prefer-node-protocol": 2
  }
}
