*.db
*.db-shm
*.db-wal
*.log
.aider*
/.direnv
/.env
/.env.ao
/.env.bundler
/coverage
/data
/dist
/node_modules
/vendor
/wallets
test-results.xml

# Generated docs
/docs/sqlite/bundles
/docs/diagrams/*.png

# VS Code
/.vscode
.DS_Store

# JetBrains
/.idea

# Exceptions
!/data/.gitkeep
