*.db
*.db-shm
*.db-wal
*.log
/.direnv
/.env
/coverage
/data
/src/store/lmdb
/dist
/node_modules
/vendor
/wallets
test-results.json

# Generated docs
/docs/sqlite/bundles
/docs/diagrams/*.png

# VS Code
/.vscode
.DS_Store

# JetBrains
/.idea

# Exceptions
!/data/.gitkeep
