services:
  ao-cu:
    image: ghcr.io/permaweb/ao-cu:latest
    restart: on-failure
    environment:
      NODE_CONFIG_ENV: ${NODE_CONFIG_ENV:-development}
      NODE_HEAPDUMP_OPTIONS: ${NODE_HEAPDUMP_OPTIONS:-nosignal}
      DEBUG: ${DEBUG:-*}
      WALLET: ${CU_WALLET:-}
      WALLET_FILE: ${CU_WALLET_FILE:-}
      ALLOW_PROCESSES: ${ALLOW_PROCESSES:-}
      ALLOW_OWNERS: ${ALLOW_OWNERS:-}
      PROCESS_CHECKPOINT_TRUSTED_OWNERS: ${PROCESS_CHECKPOINT_TRUSTED_OWNERS:-fcoN_xJeisVsPXA-trzVAuIiqO3ydLQxM-L4XbrQKzY}
      GATEWAY_URL: ${GATEWAY_URL:-http://envoy:3000}
      UPLOADER_URL: ${UPLOADER_URL:-http://envoy:3000/bundler}
      ARWEAVE_URL: ${ARWEAVE_URL:-}
      GRAPHQL_URL: ${GRAPHQL_URL:-https://arweave.net/graphql}
      CHECKPOINT_GRAPHQL_URL: ${CHECKPOINT_GRAPHQL_URL:-https://arweave.net/graphql}
      PORT: ${CU_PORT:-6363}
      ENABLE_METRICS_ENDPOINT: ${ENABLE_METRICS_ENDPOINT:-}
      DB_MODE: ${DB_MODE:-}
      DB_URL: ${DB_URL:-}
      PROCESS_WASM_MEMORY_MAX_LIMIT: ${PROCESS_WASM_MEMORY_MAX_LIMIT:-}
      PROCESS_WASM_COMPUTE_MAX_LIMIT: ${PROCESS_WASM_COMPUTE_MAX_LIMIT:-}
      PROCESS_WASM_SUPPORTED_FORMATS: ${PROCESS_WASM_SUPPORTED_FORMATS:-}
      PROCESS_WASM_SUPPORTED_EXTENSIONS: ${PROCESS_WASM_SUPPORTED_EXTENSIONS:-}
      WASM_EVALUATION_MAX_WORKERS: ${WASM_EVALUATION_MAX_WORKERS:-}
      WASM_BINARY_FILE_DIRECTORY: ${WASM_BINARY_FILE_DIRECTORY:-}
      WASM_MODULE_CACHE_MAX_SIZE: ${WASM_MODULE_CACHE_MAX_SIZE:-}
      WASM_INSTANCE_CACHE_MAX_SIZE: ${WASM_INSTANCE_CACHE_MAX_SIZE:-}
      PROCESS_CHECKPOINT_FILE_DIRECTORY: ${PROCESS_CHECKPOINT_FILE_DIRECTORY:-}
      PROCESS_MEMORY_CACHE_MAX_SIZE: ${PROCESS_MEMORY_CACHE_MAX_SIZE:-}
      PROCESS_MEMORY_CACHE_TTL: ${PROCESS_MEMORY_CACHE_TTL:-}
      PROCESS_MEMORY_CACHE_FILE_DIR: ${PROCESS_MEMORY_CACHE_FILE_DIR:-}
      PROCESS_MEMORY_CACHE_CHECKPOINT_INTERVAL: ${PROCESS_MEMORY_CACHE_CHECKPOINT_INTERVAL:-}
      PROCESS_CHECKPOINT_CREATION_THROTTLE: ${PROCESS_CHECKPOINT_CREATION_THROTTLE:-}
      DISABLE_PROCESS_CHECKPOINT_CREATION: ${DISABLE_PROCESS_CHECKPOINT_CREATION:-}
      EAGER_CHECKPOINT_ACCUMULATED_GAS_THRESHOLD: ${EAGER_CHECKPOINT_ACCUMULATED_GAS_THRESHOLD:-}
      MEM_MONITOR_INTERVAL: ${MEM_MONITOR_INTERVAL:-}
      BUSY_THRESHOLD: ${BUSY_THRESHOLD:-}
      RESTRICT_PROCESSES: ${RESTRICT_PROCESSES:-}
    ports:
      - ${CU_PORT:-6363}:${CU_PORT:-6363}
    networks:
      - ar-io-network

networks:
  ar-io-network:
    external: true
