---
version: '3.0'

volumes:
  sqlite-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${SQLITE_DATA_PATH:-$PWD/data/sqlite}
  chunks-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CHUNKS_DATA_PATH:-$PWD/data/chunks}
  contiguous-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONTIGUOUS_DATA_PATH:-$PWD/data/contiguous}
  headers-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HEADERS_DATA_PATH:-$PWD/data/headers}
  temp-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${TEMP_DATA_PATH:-$PWD/data/tmp}
  lmdb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${LMBD_DATA_PATH:-$PWD/data/lmdb}
  redis-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${REDIS_DATA_PATH:-$PWD/data/redis}
  arns-cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${ARNS_CACHE_PATH:-$PWD/data/arns}
  reports-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${REPORTS_DATA_PATH:-$PWD/data/reports}
  warp-cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WARP_CACHE_PATH:-$PWD/data/warp/cache}
  wallets-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WALLETS_PATH:-$PWD/wallets}

services:
  envoy:
    image: ghcr.io/ar-io/ar-io-envoy:${ENVOY_IMAGE_TAG:-f6576577e421a4c9173d6d5d39b4540766b366ae}
    build:
      context: envoy/
    restart: on-failure:5
    ports:
      - '3000:3000'
      - '9901:9901'
    environment:
      - LOG_LEVEL=${ENVOY_LOG_LEVEL:-info}
      - TVAL_AR_IO_HOST=core
      - TVAL_AR_IO_PORT=4000
      - TVAL_OBSERVER_HOST=observer
      - TVAL_OBSERVER_PORT=5000
      - TVAL_GATEWAY_HOST=${TRUSTED_GATEWAY_HOST:-arweave.net}
      - TVAL_GRAPHQL_HOST=${GRAPHQL_HOST:-core}
      - TVAL_GRAPHQL_PORT=${GRAPHQL_PORT:-4000}
      - TVAL_ARNS_ROOT_HOST=${ARNS_ROOT_HOST:-}
    depends_on:
      - core
      - observer
  core:
    image: ghcr.io/ar-io/ar-io-core:${CORE_IMAGE_TAG:-f462e82ee30208eb64c5a68211b3cd180193c5b0}
    build:
      context: .
    restart: on-failure:5
    ports:
      - 4000:4000
    volumes:
      - sqlite-data:/app/data/sqlite
      - chunks-data:/app/data/chunks
      - contiguous-data:/app/data/contiguous
      - headers-data:/app/data/headers
      - temp-data:/app/data/tmp
      - lmdb-data:/app/data/lmdb
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - LOG_LEVEL=${CORE_LOG_LEVEL:-info}
      - LOG_FORMAT=${LOG_FORMAT:-simple}
      - TRUSTED_NODE_URL=${TRUSTED_NODE_URL:-}
      - TRUSTED_GATEWAY_URL=https://${TRUSTED_GATEWAY_HOST:-arweave.net}
      - START_HEIGHT=${START_HEIGHT:-}
      - STOP_HEIGHT=${STOP_HEIGHT:-}
      - SKIP_CACHE=${SKIP_CACHE:-}
      - SIMULATED_REQUEST_FAILURE_RATE=${SIMULATED_REQUEST_FAILURE_RATE:-}
      - INSTANCE_ID=${INSTANCE_ID:-}
      - AR_IO_WALLET=${AR_IO_WALLET:-}
      - ADMIN_API_KEY=${ADMIN_API_KEY:-}
      - BACKFILL_BUNDLE_RECORDS=${BACKFILL_BUNDLE_RECORDS:-}
      - FILTER_CHANGE_REPROCESS=${FILTER_CHANGE_REPROCESS:-}
      - ANS104_UNBUNDLE_WORKERS=${ANS104_UNBUNDLE_WORKERS:-}
      - ANS104_DOWNLOAD_WORKERS=${ANS104_DOWNLOAD_WORKERS:-}
      - ANS104_UNBUNDLE_FILTER=${ANS104_UNBUNDLE_FILTER:-}
      - ANS104_INDEX_FILTER=${ANS104_INDEX_FILTER:-}
      - ARNS_ROOT_HOST=${ARNS_ROOT_HOST:-}
      - SANDBOX_PROTOCOL=${SANDBOX_PROTOCOL:-}
      - START_WRITERS=${START_WRITERS:-}
      - CONTRACT_ID=${CONTRACT_ID:-}
      - CHAIN_CACHE_TYPE=${CHAIN_CACHE_TYPE:-redis}
      - REDIS_CACHE_URL=${REDIS_CACHE_URL:-redis://redis:6379}
      - REDIS_CACHE_TTL_SECONDS=${REDIS_CACHE_TTL_SECONDS:-}
      - NODE_JS_MAX_OLD_SPACE_SIZE=${NODE_JS_MAX_OLD_SPACE_SIZE:-}
      - ENABLE_FS_HEADER_CACHE_CLEANUP=${ENABLE_FS_HEADER_CACHE_CLEANUP:-true}
      - ON_DEMAND_RETRIEVAL_ORDER=${ON_DEMAND_RETRIEVAL_ORDER:-}
      - WEBHOOK_TARGET_SERVERS=${WEBHOOK_TARGET_SERVERS:-}
      - WEBHOOK_INDEX_FILTER=${WEBHOOK_INDEX_FILTER:-}
      - WEBHOOK_BLOCK_FILTER=${WEBHOOK_INDEX_FILTER:-}
      - CONTIGUOUS_DATA_CACHE_CLEANUP_THRESHOLD=${CONTIGUOUS_DATA_CACHE_CLEANUP_THRESHOLD:-}
      - TRUSTED_ARNS_RESOLVER_TYPE=${TRUSTED_ARNS_RESOLVER_TYPE:-gateway}
      - TRUSTED_ARNS_RESOLVER_URL=${TRUSTED_ARNS_RESOLVER_URL:-https://__NAME__.arweave.dev}
      - ENABLE_MEMPOOL_WATCHER=${ENABLE_MEMPOOL_WATCHER:-false}
      - MEMPOOL_POOLING_INTERVAL_MS=${MEMPOOL_POOLING_INTERVAL_MS:-}
    depends_on:
      - redis

  redis:
    image: redis:${REDIS_IMAGE_TAG:-7}
    command: redis-server --maxmemory ${REDIS_MAX_MEMORY:-256mb} --maxmemory-policy allkeys-lru ${EXTRA_REDIS_FLAGS:---save "" --appendonly no}
    restart: on-failure:5
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

  observer:
    image: ghcr.io/ar-io/ar-io-observer:${OBSERVER_IMAGE_TAG:-624b6090acd1060c89f7bb1995a86df310388b72}
    restart: on-failure:5
    ports:
      - 5000:5000
    volumes:
      - temp-data:/app/data/tmp
      - reports-data:/app/data/reports
      - warp-cache:/app/cache/warp
      - wallets-data:/app/wallets
    environment:
      - PORT=5000
      - LOG_LEVEL=${OBSERVER_LOG_LEVEL:-info}
      - OBSERVER_WALLET=${OBSERVER_WALLET:-<example>}
      - CONTRACT_ID=${CONTRACT_ID:-}
      - SUBMIT_CONTRACT_INTERACTIONS=${SUBMIT_CONTRACT_INTERACTIONS:-true}
      - NUM_ARNS_NAMES_TO_OBSERVE_PER_GROUP=${NUM_ARNS_NAMES_TO_OBSERVE_PER_GROUP:-5}
      - REPORT_GENERATION_INTERVAL_MS=${REPORT_GENERATION_INTERVAL_MS:-}
      - RUN_OBSERVER=${RUN_OBSERVER:-true}
      - MIN_RELEASE_NUMBER=${MIN_RELEASE_NUMBER:-0}
      - AR_IO_NODE_RELEASE=${AR_IO_NODE_RELEASE:-10}
      - CONTRACT_CACHE_URL=${CONTRACT_CACHE_URL:-}

  resolver:
    image: ghcr.io/ar-io/arns-resolver:${RESOLVER_IMAGE_TAG:-fe035b80cc9e6038b4d4bec671ec9b33ac184e18}
    restart: on-failure:5
    ports:
      - 6000:6000
    environment:
      - PORT=6000
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - CONTRACT_ID=${CONTRACT_ID:-}
      - RUN_RESOLVER=${RUN_RESOLVER:-false}
      - EVALUATION_INTERVAL_MS=${EVALUATION_INTERVAL_MS:-}
      - CONTRACT_CACHE_URL=${CONTRACT_CACHE_URL:-}
      - ARNS_CACHE_PATH=${ARNS_CACHE_PATH:-./data/arns}
    volumes:
      - arns-cache:/app/data/arns

  litestream:
    image: ghcr.io/ar-io/ar-io-litestream:${LITESTREAM_IMAGE_TAG:-07458922bece28b209ed9d3bd9886fa1a4a9434f}
    build:
      context: litestream/
      dockerfile: Dockerfile
    profiles:
      - litestream
    volumes:
      - sqlite-data:/app/data/sqlite
    environment:
      - TVAL_AR_IO_SQLITE_BACKUP_S3_BUCKET_NAME=${AR_IO_SQLITE_BACKUP_S3_BUCKET_NAME:-}
      - TVAL_AR_IO_SQLITE_BACKUP_S3_BUCKET_REGION=${AR_IO_SQLITE_BACKUP_S3_BUCKET_REGION:-}
      - TVAL_AR_IO_SQLITE_BACKUP_S3_BUCKET_ACCESS_KEY=${AR_IO_SQLITE_BACKUP_S3_BUCKET_ACCESS_KEY:-}
      - TVAL_AR_IO_SQLITE_BACKUP_S3_BUCKET_SECRET_KEY=${AR_IO_SQLITE_BACKUP_S3_BUCKET_SECRET_KEY:-}
