#{{:id "33c0fd24-c547-4d66-b9d3-aaad2151f651"
   :description "ClickHouse ADR Knowledge"
   :files
   #{{:id "9fe5e13f-b294-49d4-94fa-5a55c8a0dcea"
      :description "ClickHouse ADR File"
      :path "docs/madr/001-clickhouse-gql.md"}}}}
